/* Styles for Mobile devices */

.container {
  min-width: 320px;
  max-width: 375px;
  margin: 0 auto;
  padding: 0 16px;
  background-color: #eee;
  font-family: 'Montserrat', sans-serif;
}
/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
/* Styles for Desktop devices */
@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
    padding-bottom: 50px;
  }
  .gallery {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    flex-wrap: wrap;
  }
  .gallery-item {
    width: calc((100% - 48px) / 3);
  }
  .gallery-image {
    transition: transform 250ms ease-in-out;
  }
  .gallery-image:hover {
    transform: scale(1.05);
    cursor: zoom-in;
  }
  .sl-caption {
    text-align: center;
  }
  .feedback-form {
    background-color: #fff;
    width: 480px;
    margin: 0 auto;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  label {
    display: flex;
    flex-direction: column;
    gap: 8px;
    text-align: left;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #2e2f42;
  }
  label:not(:first-child) {
    margin-bottom: 8px;
  }
  input,
  textarea {
    border: 1px solid #808080;
    border-radius: 4px;
    width: 100%;
    height: 40px;
    text-indent: 8px;
  }
  button {
    border-radius: 8px;
    border: none;
    padding: 8px 16px;
    width: 95px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4e75ff;
  }
}
